@model List<TestApp.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Employee Information</h1>
<br />
<a href="@Url.Action("Create")" class="btn btn-primary">Add Employoee</a>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @foreach (var employee in Model)
    {
        <tr>
            <td scope="row">@employee.id</td>
            <td scope="row">@employee.Name</td>
            <td scope="row">@employee.Email</td>
            <td scope="row">@employee.Gender</td>
            <td scope="row"><div class="d-flex"><a class="btn btn-success mx-2" href="@Url.Action("Update", new { employee.id })">Edit</a> | <a class="btn btn-danger mx-2" href="@Url.Action("Delete", new { employee.id })">Delete</a></div></td>
        </tr>
    }

</table>